.wrapper{
	width: 634px;
    height: 465px;
    position: relative;
    margin: 0 auto;
    margin-top: 211px;
}
.slides{
	    width: 100%;
    height: 100%;
    position: absolute;
}
.slides-item{
	width: 100%;
    height: 100%;
    z-index: 1;
}